*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-size: 18px !important;
  font-family: "Montserrat", sans-serif;
}

nav.navbar {
  background-image: linear-gradient(#161616, rgba(3, 0, 136, 0));
}

nav.navbar .nav-link {
  font-weight: 500;
}

nav.navbar .nav-link.active {
  color: #f6a623 !important;
  text-shadow: 0 0 10px #f6a623, 0 0 20px #f6a623;
}

nav.navbar .btn-primary {
  background-color: #030088;
  border-radius: 0;
  border: 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

nav.navbar .btn-primary:hover {
  background-color: #0b5ed7;
}

nav.navbar .btn-primary.hvr-outline-out {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

nav.navbar .btn-primary.hvr-outline-out::before {
  content: "";
  position: absolute;
  border: #030088 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
  transition-property: top, right, bottom, left;
}

nav.navbar .btn-primary.hvr-outline-out:hover:before, nav.navbar .btn-primary.hvr-outline-out:focus:before, nav.navbar .btn-primary.hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  border-color: #0b5ed7;
}

footer {
  background-color: #0c0b0b;
  padding: 5rem 0;
}

footer::before {
  content: " ";
  position: absolute;
  top: -80px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-image: linear-gradient(to top, #0c0b0b, #0c0b0b00);
}

@media (max-width: 767px) {
  footer {
    padding: 3rem 0;
  }
}

body {
  background: linear-gradient(to top, #030088 0%, #0c0b0b 30%, #0c0b0b 80%, rgba(3, 0, 136, 0.8) 100%), url("../assets/bg-personal-page.png");
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

body nav {
  z-index: 10000;
}

body main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 37%;
  background: url("../assets/persons/linear-bg.png");
}

body #tooltip {
  background: #333;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
}

body .back-to-fighters {
  width: 100px;
  height: 70px;
  background-color: #1111119a;
  right: 7%;
  display: grid;
  padding: 16px 20px;
  grid-template-columns: auto auto auto;
  gap: 0;
  transition: gap 0.2s, padding ease-in-out 0.1s;
  z-index: 10000;
  box-shadow: 8px 6px 10px #000000b2;
}

body .back-to-fighters::after, body .back-to-fighters::before {
  content: attr(data-tooltip);
  width: max-content;
  background-color: #1b1b1b;
  position: absolute;
  bottom: -2.2rem;
  left: 50%;
  transform: scale(0) translateX(-100%);
}

body .back-to-fighters:hover {
  padding: 14px 16px;
  gap: 4px;
  cursor: pointer;
}

body .back-to-fighters:hover::before, body .back-to-fighters:hover::after {
  font-size: 0.9rem;
  text-align: center;
  transform: scale(1) translateX(-50%);
  border-radius: 5px;
  padding: 0.4rem;
  color: white;
}

body .back-to-fighters .item {
  width: 100%;
  height: 100%;
  background-color: #808080;
}

body .full-body-fighter {
  min-height: 80rem;
}

body .full-body-fighter img {
  transform: scaleX(-1);
  left: -70px;
  bottom: -20px;
  height: 110%;
}

body .description {
  text-align: right;
  color: white;
  margin-top: 30%;
  margin-bottom: 20px;
  text-shadow: 2px 2px 12px black;
}

body .description .personal-name {
  font-size: 5rem;
  line-height: 0.8;
  margin-bottom: 30px !important;
}

body .description .personal-name,
body .description h3 {
  font-family: "Poppins", sans-serif;
  letter-spacing: -2px;
  text-align: left;
}

body .description P {
  line-height: 2;
}

body .fighters-list {
  width: 100vw;
  bottom: 3rem;
  right: 8%;
  z-index: 100;
}

body .fighters-list .col {
  max-width: 7rem;
}

body .fighters-list .figure {
  filter: contrast(65%);
  margin: 0;
  background-color: #808080;
}

body .fighters-list .figure:hover {
  filter: contrast(100%);
  cursor: pointer;
  background-color: #030088;
}

body .fighters-list .figure .figure-caption {
  color: white;
  font-size: 0.7em;
}

@media (max-width: 767px) {
  body main {
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    min-height: max-content;
    padding-bottom: 3rem;
  }
  body main::after {
    content: none;
  }
  body .back-to-fighters {
    width: 70px;
    height: 50px;
    padding: 12px 14px;
    gap: 0;
  }
  body .back-to-fighters:hover {
    padding: 10px 12px;
    gap: 3px;
  }
  body .description {
    margin-top: 20rem;
    text-align: left;
  }
  body .description h1.personal-name {
    font-size: 12vw;
  }
  body .fighters-list {
    max-width: 100%;
    bottom: -6rem;
    left: 2%;
    right: 2%;
  }
  body .fighters-list .col {
    max-width: 5rem;
    font-size: 0.6em;
  }
}
/*# sourceMappingURL=person.css.map */