*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-size: 18px !important;
  font-family: "Montserrat", sans-serif;
}

nav.navbar {
  background-image: linear-gradient(#161616, rgba(3, 0, 136, 0));
}

nav.navbar .btn-primary {
  background-color: #030088;
  border-radius: 0;
  border: 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

nav.navbar .btn-primary:hover {
  background-color: #0b5ed7;
}

nav.navbar .btn-primary.hvr-outline-out {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

nav.navbar .btn-primary.hvr-outline-out::before {
  content: "";
  position: absolute;
  border: #030088 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
  transition-property: top, right, bottom, left;
}

nav.navbar .btn-primary.hvr-outline-out:hover:before, nav.navbar .btn-primary.hvr-outline-out:focus:before, nav.navbar .btn-primary.hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  border-color: #0b5ed7;
}

footer {
  background-color: #0c0b0b;
  padding: 5rem 0;
}

@media (max-width: 767px) {
  footer {
    padding: 3rem 0;
  }
}

@media screen and (max-width: 576px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (min-width: 576px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (min-width: 767px) {
  :root {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  :root {
    font-size: 22px;
  }
}

body {
  background-color: #0c0b0b;
}

body main {
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.7) 100%), url("../../assets/home/bg-main.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 98vh;
  z-index: 80;
}

body main header {
  margin-top: 20vh;
}

body main header h1 {
  font-size: calc(5rem + 18%);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: white;
  letter-spacing: -5px !important;
  line-height: 92.9%;
}

body section#fighters-section {
  background: #1a1717;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

body section#fighters-section h1 {
  font-family: "Poppins", sans-serif;
  font-size: 22vw;
  letter-spacing: -10px !important;
  top: -20px;
  cursor: default;
  color: rgba(255, 255, 255, 0.04);
}

body section#fighters-section::before {
  content: "";
  position: absolute;
  top: -20%;
  left: 0;
  right: 0;
  height: 30%;
  background: linear-gradient(to top, #1a171700, #1a1717 30%, #1a1717 54%, #0c0b0b00);
  z-index: 100;
}

body section#fighters-section .container .row#fighters {
  z-index: 3;
  flex-wrap: nowrap;
  max-width: 44vw;
  margin: 0 auto 3rem;
}

@media screen and (max-width: 576px) {
  body section#fighters-section .container .row#fighters {
    max-width: 80vw;
  }
}

body section#fighters-section .container .row#fighters .col {
  margin: 0 4px;
  padding: 0;
  box-sizing: content-box !important;
}

body section#fighters-section .container .row#fighters .col .card {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-shadow: 4px 4px 10px black;
  border: 0;
  background: #c4c4c4;
  border-radius: 0;
  cursor: pointer;
}

body section#fighters-section .container .row#fighters .col .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, #1d2136 10%, rgba(3, 0, 136, 0));
}

body section#fighters-section .container .row#fighters .col .card figure img.translate-middle {
  opacity: 0;
}

body section#fighters-section .container .row#fighters .col .card:hover {
  z-index: 102;
  opacity: 0;
}

body section#fighters-section .container .row#fighters .col .card:hover ~ figure {
  box-sizing: content-box !important;
  z-index: 101 !important;
  opacity: 1;
  transform: scaleY(1.2);
  transition: opacity 0.25s ease-out;
}

body section#fighters-section .container .row#fighters .col .card:hover ~ figure img.translate-middle {
  transform: translate(-50%, -50%) scaleY(0.8) !important;
}

body section#fighters-section .container .row#fighters .col .card .image-card {
  width: 102%;
  height: 102%;
}

body section#fighters-section .container .row#fighters .col figure {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.25s ease-out;
}

body section#fighters-section .container .row {
  z-index: 10;
}

body section#fighters-section .container .row .btn-primary {
  background-color: #030088;
  border-radius: 0;
  border: 0;
  padding-left: 0;
  padding-right: 0;
}

body section#fighters-section .container .row .btn-primary:hover {
  background-color: #0b5ed7;
}

body section#fighters-section .container .row .btn-primary.hvr-outline-out {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

body section#fighters-section .container .row .btn-primary.hvr-outline-out::before {
  content: "";
  position: absolute;
  border: #030088 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
  transition-property: top, right, bottom, left;
}

body section#fighters-section .container .row .btn-primary.hvr-outline-out:hover:before, body section#fighters-section .container .row .btn-primary.hvr-outline-out:focus:before, body section#fighters-section .container .row .btn-primary.hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  border-color: #0b5ed7;
}

body section#fighters-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-image: linear-gradient(to top, #414141, #0c0b0b00);
}
/*# sourceMappingURL=style.css.map */