// colors
$primary: #030088;
$secondary: #c4c4c4;
$dark: #0c0b0b;

// font
$font-body: "Montserrat", sans-serif;
$font-display: "Poppins", sans-serif;

body {
  font-size: 18px !important;
  font-family: $font-body;
}
